
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <style>

    </style>
</head>
<body>
    <div th:fragment="top" style="margin-bottom: 10px">
        <div>
            <div style="width: 8%;float: left">
                <img th:src="@{/images/logo2.png}" width="90px" style="margin-top: 17px"/>
            </div>
            <div style="width: 85%;float: left;margin-top: 15px">
                <h5 style="line-height: 0.5px"><b th:text="${#servletContext.getAttribute('lib').subtitle}">石油与天然气工程专业学位课程——采油采气工程设计与应用</b></h5>
                <h3><b th:text="${#servletContext.getAttribute('lib').mainTitle}"></b></h3>
            </div>
            <div style="width: 7%;float: left;margin-top: 29px">
                <ul class="nav navbar-nav" th:if="${#request.getRemoteUser()==''||#request.getRemoteUser()==null}">
                    <li class="dropdown">
                        <a th:href="@{/login}" class="fa fa-user-circle fa-3x"></a>
                    </li>
                </ul>
                <ul class="nav navbar-nav" th:if="${#request.getRemoteUser()!=''&&#request.getRemoteUser()!=null}">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding: 0">
                            <i class="fa fa-user-circle fa-3x"></i>
                            <!--<b class="caret" style="margin-bottom: 35%;margin-left: 5px"></b>-->
                        </a>
                        <ul class="dropdown-menu" style="width: 20px">
                            <li><a href="/user/user_info">个人信息</a></li>
                            <li><a href="/user/pwd_change">修改密码</a></li>
                            <li><a th:href="@{/logout}">登出</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <nav class="nav" style="padding-top: 100px">
            <ul class="nav nav-pills" style="background: #911a0a;">
                <li>
                    <a class="top" href="/">网站首页</a>
                </li>
                <li th:each="m:${#servletContext.getAttribute('types')}" >
                    <a class="top" th:text="${m.name}" th:href="@{'/case/'+${m.id}+'/type.html'}"></a>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="top" th:href="@{/case/get}">后台管理</a>
                </li>
            </ul>
        </nav>
    </div>
</body>
</html>