<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>案例变更</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link th:href="@{/css/back-stage.css}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/webuploader.css}">
    <script th:src="@{/script/jquery.min.js}"></script>

    <script th:src="@{/script/bootstrap.min.js}"></script>

    <script th:src="@{/script/webuploader.custom.js}"></script>


    <script>
        $(document).ready(function(){
            $("#button100").click(function(){
                $("#a").after("<div>" +
                    "<div style='margin-top: 20px;float: left' id='div1' class='form-group'>" +
                    "<input class='form-control' value='请输入标签名称' name='tagss' style='width: 75%;float: left;margin-top: 5px' onfocus=\"javascript:if(this.value=='请输入标签名称')this.value='';\">" +
                    "</div>" +
                    "</div>");
            });
            $("#a").click(function(){
                $("#div1").remove("#div1");
            });
        });

        function jump() {

        }
    </script>



</head>
<body>
<div th:replace="/common/admin/top::top"></div>
<div class="container">

    <div class="row">
        <div class="page-header">
            <h4>案例变更</h4>
            <h4 th:text="${msg}" style="color: red"></h4>
        </div>
        <div class="panel-body">
            <div class="col-lg-6">
            <form role="form" th:action="@{/case/change.html}" method="post">
                    <input class="form-control" name="id" type="hidden" th:value="${case.id}">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" >确定变更</button>
                        <a th:href="@{/case/remove/}+${case.id}" onclick="if(confirm('sure?')==false)return false;  ">
                            <button type="button" class="btn btn-primary"  >删除案例</button>
                        </a>
                    </div>
                    <div class="form-group">
                        <label>案例名称</label>
                        <input class="form-control" name="name" th:value="${case.name}">
                    </div>

                    <div class="form-group">
                        <label for="disabledSelect-sex" >案例类型（项目所属）</label>
                        <select id="disabledSelect-sex" class="form-control" name="type">
                            <option th:each="t:${#servletContext.getAttribute('types')}" th:value="${t.id}" th:text="${t.name}" th:selected="${t.id==case.type.id}"></option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>作者</label>
                        <input class="form-control" name="author" th:value="${case.author}">
                    </div>


                    <div class="form-group">
                        <label>专业学位类别</label>
                        <input class="form-control" name="field" th:value="${case.field}">
                    </div>

                    <div class="form-group">
                        <label>实用课程</label>
                        <input class="form-control" name="course" th:value="${case.course}">
                    </div>

                    <div class="form-group">
                        <label>专业领域/方向</label>
                        <input class="form-control" name="direction" th:value="${case.direction}">
                    </div>

                    <div class="form-group">
                        <label>单位</label>
                        <input class="form-control" name="unit" th:value="${case.unit}">
                    </div>

                    <input class="form-control" name="isExist" type="hidden"  th:value="true">



                    <div class="form-group">
                        <label>案例摘要</label>
                        <textarea class="form-control" row="3" name="summary"  th:value="${case.summary}" th:text="${case.summary}"></textarea>
                    </div>


                    <div class="form-group">
                        <label>标签</label>
                        <!--<input class="form-control" name="tags">-->
                        <button type="button" id="button100" class="btn btn-default">
                            <b>+</b>
                        </button>
                        <a id="a" style="color: red" href="javascript:;" onclick="jump()">点击删除最后一个标签</a>
                        <div>
                            <div class="form-group" style='margin-top: 20px;float: left' id='div1' th:each="t:${case.tags}">
                                <input class='form-control' value='请输入标签名称' name='tagss' th:value="${t.name}" style='width: 75%;float: left;margin-top: 5px' >
                            </div>
                        </div>
                    </div>
            </form>


        </div>
            <div class="col-lg-6">

                <form method="post" enctype="multipart/form-data" th:action="@{/doc/uploads/}+${case.id}+'/1'">
                    <div class="form-group">
                        <div class="page-header">
                            <label>内容文件:</label>
                        </div>
                        <div class="panel-body" style="padding-left: 2%;padding-top: 0.1%;padding-bottom: 0.1%">
                            <a th:each="c:${case.contents}">
                                <a th:text="${c.name}" th:href="@{'/doc/download/'+${c.id}}"></a>
                                <a th:href="@{/doc/remove/}+${c.id}">
                                    <button type="button" class="btn btn-default btn-xs">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true" style="color: red"></span>
                                    </button>
                                </a><br/>
                            </a>
                        </div>
                    </div>
                    <div>
                        <input type="file" multiple="multiple" name="files">
                    </div>
                    <button type="submit" class="btn btn-default">开始上传</button>
                </form>

                <form method="post" enctype="multipart/form-data" th:action="@{/doc/uploads/}+${case.id}+'/0'">
                    <div class="form-group">
                        <div class="page-header">
                            <label>解决方案:</label>
                        </div>
                        <div class="panel-body" style="padding-left: 2%;padding-top: 0.1%;padding-bottom: 0.1%">
                            <a th:each="c:${case.solves}">
                                <a th:text="${c.name}" th:href="@{'/doc/download/'+${c.id}}"></a>
                                <a th:href="@{/doc/remove/}+${c.id}">
                                    <button type="button" class="btn btn-default btn-xs" >
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true" style="color: red"></span>
                                    </button>
                                </a><br/>
                            </a>
                        </div>
                    </div>
                    <div>
                        <input type="file" multiple="multiple" name="files">
                    </div>
                    <button type="submit" class="btn btn-default">开始上传</button>
                </form>


            </div>
        </div>
    </div>

</div>

</body>
</html>