<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script th:src="@{/script/jquery.min.js}"></script>
    <script th:src="@{/script/bootstrap.min.js}"></script>
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/back-stage.css}">
<body>
<div th:replace="/common/admin/top::top"></div>

<div class="container">
<div class="row">
    <div class="page-header" >
        <h4>管理员账号密码修改</h4>
        <h4 th:text="${msg}" style="color: red"></h4>
    </div>
    <div class="panel-body">
        <form role="form" th:action="@{/user/change_pwd}" method="post">
            <div class="col-lg-4">
                <div class="form-group">
                    <label>原密码：</label>
                    <input class="form-control" id="old_pwd" type="password" name="oldPwd" required="required">
                </div>

                <div class="form-group">
                    <label>新密码：</label>
                    <input class="form-control" id="new_pwd" type="password" name="#" required="required">
                </div>

                <div class="form-group">
                    <label>再次输入新密码：</label>
                    <input class="form-control" id="re_pwd" type="password" name="pwd" required="required">
                </div>
                <button type="submit" class="btn btn-primary" id="pwd_submit" >确定</button>
                <button type="reset" class="btn btn-primary"  >重置</button>
            </div>

        </form>
    </div>
</div>
</div>
<script>
    $('#pwd_submit').click(function () {
            var pwd = $("#new_pwd").val();
            var repwd = $("#re_pwd").val();
            var oldpwd = $("#old_pwd").val();
        if(pwd.length<7 || pwd.length>32 || repwd.length<7 || repwd.length>32 ){
            alert("密码长度不符合规则");
            return false;
        }
        if(pwd !== repwd){
            alert("两次输入的密码不一致");
            return false;
        }
        if(oldpwd === pwd){
            alert("新密码与旧密码不能相同");
            return false;
        }
        $('#pwd_submit').submit();
    });
</script>

</body>
</html>