<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>回收站</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.15/css/jquery.dataTables.css">

    <!--&lt;!&ndash; jQuery &ndash;&gt;-->
    <!--<script type="text/javascript" charset="utf8" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>-->

    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>

    <link href="../../static/css/back-stage.css" rel="stylesheet" th:type="text/css">
    <link rel="stylesheet" href="../../static/css/back-stage.css">
</head>
<body>

<div>
    <div style="width: 5%;float: left">
        <img src="../../static/images/logo.jpg" width="60px" style="margin-top: 17px"/>
    </div>
    <div style="width: 55%;float: left;margin-top: 15px">
        <h5 style="line-height: 0.5px"><b th:text="${#servletContext.getAttribute('lib').subtitle}">石油与天然气工程专业学位课程——采油采气工程设计与应用</b></h5>
        <h3><b>后台管理</b></h3>
    </div>
    <div style="top:10px;width: 200px;float: right;margin-right: 20px;margin-top: 15px">
        <h4>您好,<span>Admin</span></h4>
        <h5><a href="../user/pwdChange.html">修改密码</a> , <a href="#">退出</a> </h5>
    </div>
</div>

<div style="padding-top: 100px">

    <ul class="nav nav-pills" style="background: #337AB7;padding-left: 100px">
        <li class="active"><a class="li-a" href="a_index.html" style="color: white">回到首页</a></li>
        <li class="active"><a herf="#" >前台构建</a></li>


        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"  >
                用户管理
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" style="background: #337AB7">
                <li class="active"><a href="#"  >ALL用户</a></li>
                <li class="active"><a href="userAdd.html" >添加用户</a></li>
            </ul>
        </li>

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"  >
                项目管理
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" style="background: #337AB7">
                <li class="active"><a href="projectCon.html">添加项目</a></li>
                <li class="active"><a href="projectCon.html">项目变更</a></li>
            </ul>
        </li>

        <li class="active"><a href="recycleBin.html">回收站</a></li>
    </ul>
</div>


<div class="container">
    <div class="page-header" >
        <h4>可重新下载被删除的文件</h4>
    </div>

    <div class="panel-body">
        <table width="100%">
            <tbody>
                <tr >
                    <td width="15%">文件名</td>
                    <td width="15%">来源项目</td>
                    <td width="15%">下载</td>
                    <td width="10%">删除时间</td>
                    <td width="20%">彻底删除</td>
                </tr>
            </tbody>
            <tbody>
            <tr>
                <td>1111.WORD</td>
                <td>防沙工艺</td>
                <td>
                    <a href="#">
                    <button type="button" class="btn btn-default" aria-label="Left Align">
                    <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                    </button>
                </a></td>
                <td>2018/3/1</td>
                <td>
                    <a href="#">
                    <button type="button" class="btn btn-default" aria-label="Left Align">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

</body>

<footer >
    <h>Serendipity</h>
</footer>
</html>