<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/script/jquery.min.js}"></script>
    <script th:src="@{/script/bootstrap.min.js}"></script>
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet">
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.15/css/jquery.dataTables.css">

    <!--&lt;!&ndash; jQuery &ndash;&gt;-->
    <!--<script type="text/javascript" charset="utf8" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>-->

    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>

    <link th:href="@{/css/back-stage.css}" rel="stylesheet">

    <script>
        function openme(){
            document.getElementById('form').style.display='block';
        }
    </script>
    <style>
        #form {
            margin: 0px;padding:0;
            display: none;
            position: absolute;
            z-index: 1000;
            height: 100%;
            width: 100%;
            background: white;
            filter:Alpha(opacity=30);
        }
    </style>
</head>
<body>
<div th:replace="/common/admin/top::top"></div>
<form id="form" th:action="@{/type/change}" method="post">
    <div style="margin-left: 5%;height: 200px;padding-top: 200px">
        <input type="hidden" name="id" value="">
        <b style="width: 5%;float: left;margin-right: 1%;margin-top: 7px">显示顺序</b>
        <input class="form-control" style="width: 20%;float: left;margin-right: 2%" name="grade">
        <b style="width: 5%;float: left;margin-right: 1%;margin-top: 7px">类别名称</b>
        <input class="form-control" style="width: 50%;float: left;margin-right: 2%" name="name">
        <button type="submit" class="btn btn-primary" style="width: 5%;float: left;margin-right: 1%">添加</button>
    </div>
</form>
<div class="container">
    <div class="row">
        <div class="panel-body">

        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="page-header">
            <h4>类别信息修改</h4>
        </div>
        <div class="panel-body">
            <div th:each="t:${types}">
                <form role="form" th:action="@{/type/change}" method="post" style="margin-bottom: 20px;height: 40px">
                    <input type="hidden" name="id" th:value="${t.id}">
                    <b style="width: 5%;float: left;margin-right: 1%;margin-top: 7px">显示顺序</b>
                    <input class="form-control" style="width: 20%;float: left;margin-right: 2%" th:value="${t.getGrade()}" th:name="grade">
                    <b style="width: 5%;float: left;margin-right: 1%;margin-top: 7px">类别名称</b>
                    <input class="form-control" style="width: 50%;float: left;margin-right: 2%" th:value="${t.getName()}" th:name="name">
                    <button type="submit" class="btn btn-primary" style="width: 5%;float: left;margin-right: 1%">修改</button>
                    <a th:href="@{/type/remove/}+${t.id}" style="color: red;font-size: x-large;margin-left: 1%">×</a>
                </form>
            </div>
            <div>

                <b style="float: left;margin-top: 10px;margin-right: 1%">添加分类</b>
                <button type="button" class="btn btn-default" style="float: left" onclick="openme()">
                    <b>+</b>
                </button>
            </div>
        </div>
    </div>

</div>

</body>
</html>