<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script>
        function f() {
            var av = document.getElementById("myI").value;
            window.location.href="/search/"+av;
        }
    </script>
    <style>
        a{
            color: black;
        }
        a:hover{
            color: #A80000;
        }
        .top{
            color: white;
        }
    </style>
</head>
<body>
    <div th:replace="/common/top::top"></div>
    <div style="width: 99%;float: left;margin-left: 0.5%;margin-right: 0.5%">
        <from th:id="myF" class="input-group" style="width: 100%;float: left">
            <input id="myI" type="text" class="form-control" placeholder="请输入文档名"/>
            <span class="input-group-btn">
                        <button class="btn btn-default" type="button" onclick="f()"><i class="fa fa-search"></i></button>
                    </span>
        </from>
    </div>
    <div>
        <div>
            <div th:replace="/common/right::right"></div>
        </div>
        <div style="margin-top: 80px">
            <div style="width: 76%;height: auto;float: left;margin: 0.5%">
                <div th:each="m:${#servletContext.getAttribute('types')}">
                    <div class="panel panel-default" style="margin: 0.5%;float: left;width: 49%;height: 300px;border: none">
                        <div class="panel-heading" style="height: 37.6px;border: none">
                            <div style="width: 87%;float: left">
                                <h3 class="panel-title" th:text="${m.name}"></h3>
                            </div>
                            <div style="width: 13%;float: left">
                                <a th:href="@{'/case/'+${m.id}+'/type.html'}">更多>></a>
                            </div>
                        </div>
                        <div>
                            <hr style=" height:1px;border:none;border-top:4px solid #911a0a;width: 50%;float:left;margin: 0"/>
                        </div>
                        <a th:each="c,cStat:${m.cases}">
                            <a class="panel-body" th:href="@{'/case/'+${c.id}+'/case_info.html'}"  style="padding-left: 2%;padding-top: 0.1%;padding-bottom: 0.1%">
                                <p th:if="${cStat.index<8}" th:text="${c.name}" style="float: left;margin-left: 5px"></p>
                                <p th:if="${cStat.index<8}" th:text="'['+${#dates.format(c.date,'yyyy-MM-dd')}+']'" style="float: right;margin-right: 5px"></p>
                            </a>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>