<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<div th:replace="/common/top::top"></div>
<div>
    <div style="width: 99%;margin: 0.5%;border: 1px solid lightgray;border-radius: 3px">
        <div style="margin-left: 6%;width: 100%;margin-top: 20px;font-size: 16px">
            <a th:text="${case.name}"></a>
        </div>
        <div style="margin-left: 6%;width: 100%;height: 310px;margin-top: 20px;font-size: 16px">
            <div style="width: 280px;height: 280px;border:1px solid gray;margin-top: 20px;float: left">
                <img th:src="@{/images/file.png}" style="margin: 108px"/>
            </div>
            <div style="float: left;margin-top: 21px;margin-left: 5%;font-size: 14px">
                <span th:text="'案例入库号：'" style="font-weight: bold"></span>
                <span th:text="${case.getLibId()}"></span>
                <br/><br/>
                <span th:text="'专业学位类别：'" style="font-weight: bold"></span>
                <span th:text="${case.getField()}"></span>
                <br/><br/>
                <span th:text="'专业领域/方向：'" style="font-weight: bold"></span>
                <span th:text="${case.direction}"></span>
                <br/><br/>
                <span th:text="'实用课程：'" style="font-weight: bold"></span>
                <span th:text="${case.course}"></span>
                <br/><br/>
                <span th:text="'作者：'" style="font-weight: bold"></span>
                <span th:text="${case.author}"></span>
                <br/><br/>
                <span th:text="'单位：'" style="font-weight: bold"></span>
                <span th:text="${case.unit}"></span>
                <br/><br/>
                <span th:text="'关键词：'" style="font-weight: bold"></span>
                <span th:each="t:${case.tags}">
                <span th:text="${t.name}"></span>
            </span>
                <br/><br/>
            </div>
        </div>
    </div>
    <div>
        <div style="width: 76%;height: auto;float: left;margin: 0.5%">
            <div class="panel panel-default" style="margin: 0.5%;float: left;width: 99%;height: 430px">
                <div class="panel-heading" style="height: 37.6px" th:text="'案例摘要'"></div>
                <div class="panel-body" style="padding-left: 2%;padding-top: 0.1%;padding-bottom: 0.1%">
                    <p th:text="${case.summary}"></p>
                </div>
            </div>
        </div>
        <div style="width: 22%;height: auto;float: left;margin: 0.5%">
            <div class="panel panel-default" style="margin: 0.5%;float: left;width: 99%">
                <div class="panel-heading" style="height: 37.6px" th:text="'案例点击排行'"></div>
                <div class="panel-body" style="height: 390px">
                    <a th:each="t:${top}">
                        <a th:text="${t.name}" th:href="@{'/case/'+${t.id}+'/case_info.html'}"></a><br/>
                    </a>
                </div>
            </div>
        </div>
        <div style="width: 76%;height: auto;float: left;margin: 0.5%">
            <div class="panel panel-default" style="margin: 0.5%;float: left;width: 99%;height: 150px">
                <div class="panel-heading" style="height: 37.6px" th:text="'案例内容'"></div>
                <div class="panel-body" style="padding-left: 2%;padding-top: 0.1%;padding-bottom: 0.1%">
                    <a th:each="c:${case.contents}">
                        <a th:text="${c.name}"></a><br/>
                    </a>
                </div>
            </div>
        </div>
        <div style="width: 76%;height: auto;float: left;margin: 0.5%">
            <div class="panel panel-default" style="margin: 0.5%;float: left;width: 99%;height: 150px">
                <div class="panel-heading" style="height: 37.6px" th:text="'解决方案'"></div>
                <div class="panel-body" style="padding-left: 2%;padding-top: 0.1%;padding-bottom: 0.1%">
                    <a th:each="c:${case.solves}">
                        <a th:text="${c.name}"></a><br/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>