<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
</head>
<body>
    <div th:fragment="top">
        <div>
            <div style="width: 8%;float: left">
                <img th:src="@{/images/logo2.png}" width="90px" style="margin-top: 17px"/>
            </div>
            <div style="width:75%;float: left;margin-top: 15px">
                <h3><b>后台管理</b></h3>
                <h5>Back-stage Management</h5>
            </div>
            <div style="top:10px;width: 100px;float: right;margin-right: 20px;margin-top: 15px">
                <h4>您好,<span>Admin</span></h4>
                <h5><a th:href="@{/admin/pwd_change}">修改密码</a> , <a href="/login">退出</a> </h5>
            </div>
        </div>

        <div style="padding-top: 100px">

            <ul class="nav nav-pills" style="background: #337AB7; padding-left: 100px">
                <li class="active"><a class="li-a" href="/index" style="color: white">回到首页</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"  >
                        前台构建
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" style="background: #337AB7">
                        <li class="active"><a th:href="@{/lib/}"  >例库信息</a></li>
                        <li class="active"><a th:href="@{/type/}" >分类调整</a></li>
                    </ul>
                </li>



                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"  >
                        用户管理
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" style="background: #337AB7">
                        <li class="active"><a th:href="@{/user/get}"  >全部用户</a></li>
                        <li class="active"><a th:href="@{/admin/userAdd}" >添加用户</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"  >
                        案例管理
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" style="background: #337AB7">
                        <li class="active"><a th:href="@{/case/get}">所有案例</a></li>
                        <li class="active"><a th:href="@{/admin/case_add}">案例添加</a></li>
                        <li class="active"><a th:href="@{/admin/case_change}">案例变更</a></li>

                    </ul>
                </li>
                <li class="active"><a th:href="@{/admin/recycleBin}">回收站</a></li>
            </ul>
        </div>
    </div>
</body>
</html>